/* This file is used for basic definitions of global HTML elements, such as h1, h2, ul, li, p, etc.

For more intricate styles related to visual identity, where, for example, layouts need to be configured, please use main.css, or for more complex style definitions
please create a separate stylesheet file. 

For example, if your element only appears once and needs a lot of styling (e.g. over 100 lines), create a separate file for it. */

*:disabled {
    cursor: not-allowed;
}

header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

h1 {
    font: var(--font-title-header);
    margin: 0;
    color: var(--text);
}

h2 {
    font: var(--font-subtitle);
    margin: 0;
    color: var(--text);
}

h4 {
    font: var(--font-primary);
    margin-bottom: 0px;
}

p {
    color: var(--text);
}

small {
    font: var(--font-small);
    color: var(--muted);
}

strong {
    font-weight: var(--font-weight-bold)
}

a {
    cursor: pointer;
    font: var(--font-small);
    color: var(--access);
}

a:focus-visible, .access:focus-visible {
    outline: var(--focus-outline)
}

em {
    font: var(--font-emphasised);
    color: var(--text);
}

.icon {
    width: 32px;
    height: 32px;
    fill: var(--icon)
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.w100 {
    width: 100%;
}