.messenger__window-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-standard);
}

.messenger__window-wrap > div {
    width: 50%;
}

.message-list__item {
    max-height: fit-content;
    padding: var(--padding-standard) var(--padding-small);
    border: 1px solid transparent;
    border-radius: var(--radius);
    user-select: none;
    align-items: center;
    width: 100%;
    flex: 1 1 0;
    background-color: transparent;
    transition: var(--transition);
}

.message-list__item:hover {
    background-color: var(--hover-background-secondary); /* THIS IS TOO BRIGHT! */
    cursor: pointer;
}

.message-list__item-info--wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

.message-list__item-info--wrap.active .message-list__item--date,
.message-list__item-info--wrap.active * {
    fill: var(--text);
    color: var(--text);
}

.message-list__item-info--wrap.active .message-list__item--name {
    font: var(--font-primary-bold);
}

.message-list__item-info--wrap > .flex-col {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.message-list__item--name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.message-list__item--message-content {
    fill: var(--muted);
    font: var(--font-secondary);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    gap: var(--gap-small);
}

.message-list__item--message-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    flex: 1;
    color: var(--muted);
}

.message-list__item--message-details {
    flex-shrink: 0;
    white-space: nowrap;
    display: flex;
    justify-content: end;
    align-items: center;
    height: min-content;
    gap: var(--gap-small);
}

.message-list__item--date {
    font: var(--font-secondary);
    color: var(--muted);
    white-space: nowrap;
}

.message-list__item--unread {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--access);
}

.message-list__item--unread.mention {
    background-color: var(--critical);
}