.messenger__window {
    height: 100%;
}

.messenger__window-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-standard);
    height: 100%;
}

.message-list {
    height: 100%;
    overflow-y: scroll;
}

.messenger__window-wrap > div {
    width: 50%;
}

.message-list__item {
    max-height: fit-content;
    padding: 0 var(--padding-standard);
    border: 1px solid transparent;
    border-radius: var(--radius);
    user-select: none;
    align-items: center;
    width: 100%;
    flex: 1 1 0;
    background-color: transparent;
    transition: var(--transition);
}

.message-list__item > * {
    padding: var(--padding-standard) 0;
}

.message-list__item:hover {
    background-color: var(--background); /* THIS IS TOO BRIGHT! */
    cursor: pointer;
}

.message-list__item-info--wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--muted);
}

.message-list__item-info--wrap[data-unread=true] .message-list__item--date,
.message-list__item-info--wrap[data-unread=true] * {
    fill: var(--text);
    color: var(--text);
}

.message-list__item-info--wrap[data-unread=true] .message-list__item--name {
    font: var(--font-primary-bold);
}

.message-list__item-info--wrap > .flex-col {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.message-list__item--name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.message-list__item--message-content {
    fill: var(--muted);
    font: var(--font-secondary);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    gap: var(--gap-small);
}

.message-list__item--message-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    flex: 1;
    color: var(--muted);
}

.message-list__item--message-details {
    flex-shrink: 0;
    white-space: nowrap;
    display: flex;
    justify-content: end;
    align-items: center;
    height: min-content;
    gap: var(--gap-small);
}

.message-list__item--date {
    font: var(--font-secondary);
    color: var(--muted);
    white-space: nowrap;
}

.message-list__item--unread {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--access);
}

.message-list__item--unread.mention {
    background-color: var(--critical);
}

/** Input Field */

.messenger__input--wrap {
    background-color: var(--background);
    border: 1px solid var(--background-secondary);
    border-radius: var(--radius-small);
    min-height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--padding-small) 0 var(--padding-standard);
    width: 100%;
}

.messenger__input--editable {
    padding: var(--padding-standard) 0;
    min-height: 1ch;
    max-height: 20ch;
    overflow-y: scroll;
    width: 100%;
    pointer-events: all;
    position: relative;
}

.messenger__input--editable:hover {
    cursor: text;
}

.messenger__input--editable::before {
    content: attr(data-placeholder);
    color: var(--muted);
    pointer-events: none;
    position: absolute;
    top: 0;
    pointer-events: none;
    white-space: nowrap;
    padding: var(--padding-standard) 0;
    transition: left var(--transition), opacity var(--transition);
}

.messenger__input--editable[data-touched=false]::before {
    left: 0;
    opacity: 1;
}

.messenger__input--editable[data-touched=true]::before {
    left: 10px;
    opacity: 0;
}

.messenger__input--tools button {
    background-color: var(--background-content);
    fill: var(--muted);
    border: 1px solid var(--background-secondary);
    height: 32px !important;
    width: 32px !important;
}

.messenger__input--tools button svg {
    height: 18px;
}

.messenger__input--tools button:not(:disabled):hover {
    background-color: var(--background-secondary);
    fill: var(--text);
    border: 1px solid var(--muted);
}

.messenger__input--send-wrap button {
    border-radius: 50%;
    background-color: var(--access);
    fill: var(--text);
    transition: var(--transition);
    opacity: 1;
}

.messenger__input--send-wrap button:not(:disabled):hover {
    border-radius: 50%;
    background-color: var(--access);
    fill: var(--text);
    opacity: 0.9;
}

.messenger__input--send-wrap button .button__icon-container {
    height: 36px;
    width: 28px;
}